
{% extends "@Default/templas.html.twig" %}



{% block body %}
       <link rel="stylesheet" type="text/css" href="{{ asset('output.css') }}" />

<table>

<th>


    {% for product in productLis %}

        <tr>
            <th>
                <a href="/details/{{product.id()}}">
                <img src="/icon/{{product.icon}}" />
            </th>


            <th>
                <a href="/details/{{product.id()}}">
                <p> {{ product.title }}
              {{ "<br />" }}
              {{ product.description }}
             {{ product.descriptionFull }}</th> </p> </a>
          <th>{{ product.price}}$ </th>
        </tr>
    {% endfor %}
</th>
</table>
    <div class="navigation">
        {{ knp_pagination_render(productLis) }}
    </div>

{% endblock %}