
<html>
<body>
Hello !!{{ app.user }} <br>

<a href="{{ path("admin_user_list") }}">Users</a>
<br>
<a href="{{ path("admin_prod_list") }}">Product</a>
<br>
<a href="{{ path("admin_cat_list") }}">Categorys</a>
<br>
<a href="{{ path("logout") }}">LogOut</a>
<br>

</body>
</html>




