
<tr> <a href="{{ path("admin_prod_add") }}">Add New</a>. </tr>
<table border="1">
<tr>


     {% for category in categoryLis %}
    <tr>
    <td>{{ category.id }} </td>
    <td>{{ category.title }} </td>
    <td>{{ category.description }}</td>
    <td>   <a href="{{ path("admin_prod_dell",{id:category.id}) }}">Dell</a>. </td>
        <td>   <a href="{{ path("admin_prod_edit",{id:category.id}) }}">Edit</a>. </td>
    </tr>

    {% endfor %}

</tr>

</table>
<tr> <a href="{{ path("admin_homepage") }}">Admin_panel</a>. </tr> <br>
<tr> <a href="{{ path("default_show",{id:1}) }}">Product</a>. </tr>